<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<title>login</title >
<link rel="stylesheet" type="text/css" href ="css/login.css" />
<style>
	header div{	float:right;}
	.mine{	color:#C36;}
</style>
</head>
<body>
	<header>
    <div>
		 <p th:text="'Hello, ' + ${user.name} + '!'" />
        </div>
	</header>
	<section>
		 <div th:each="p : ${permissions}">  
		 	<p th:text="${Permission.getValue(p).name}" />
			 <div th:each="user : ${users}">  
			 	<div th:if="${user.permission==p}">			 	
			 		<span th:text="${user.name}"></span>
			 		<div >
			 		<a td:herf="${user.tel}" td:value="${user.tel}"></a>
			 		</div>
			 	</div>
			 	
			 </div>
		 </div>
	</section>
	<footer></footer>
</body>
</html>