<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<title>login</title >
<script language="javascript" type="text/livescript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>
	<header>
		<span class="vertical">登录</span>
	</header>
	<section>
		<form action="/user/login" method="post">
			<lable></lable><input type="text" name="username" /><br/>
			<lable></lable><input type="password" name="password" /><br/>
			<input type="submit" value="Login" />
		</form>
	</section>
	<footer>
	 
	</footer>
</body>
</html>